@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
.name{
    font-family: 'Rubik Burned', system-ui;
}
.book{
    margin-left: 45%;
    
}
.work{
    margin-left: 45%;
    
    text-decoration: solid;
}
.work1{
    margin-left: 45%;

}

body{
    background-color: rgb(18, 17, 20);
    color:white;
}
